<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deepar.flutter_deepar">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <!-- Required for DeepAR Background Segmentation on Android 12+ -->
    <application>
        <uses-native-library android:name="libOpenCL.so" android:required="false" />
        <uses-native-library android:name="libOpenCL-pixel.so" android:required="false" />
    </application>
</manifest>
